@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import './base.css';
@import "tailwindcss";
@import "@nuxt/ui";

#app {
  font-family: 'Rubik', serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #171717;
}
